<footer id="main-footer">
    <div class="footer-nav" style="background-image: url('https://www.a10networks.com/sites/all/themes/a10_2017/images/footer-bg.jpg')">
        <div class="container">
                <div class="columns">
                    <div class="column">
                        <h5>Explore</h5>
                        <ul class="menu">
                            <li><a href="https://www.a10networks.com/solutions/harmony-manage-secure-application-services">Harmony Platform</a>
                            </li><li><a href="https://www.a10networks.com/solutions/meet-acos-advanced-core-operating-system">ACOS Advanced Core OS</a></li>
                            <li><a href="https://www.a10networks.com/products/thunder-series/thunder-application_delivery_controller">Application Delivery</a></li>
                            <li><a href="https://www.a10networks.com/products/thunder-series/thunder-cgn">IPv4 to IPv6 Migration</a></li>
                            <li><a href="https://www.a10networks.com/products/thunder-series/ddos-detection-protection-mitigation">DDoS Protection</a></li>
                            <li><a href="https://www.a10networks.com/products/thunder-series/convergent-data-center-firewall_gi-sgi-firewall_secure-web-gateway">Data Center Firewall</a></li>
                            <li><a href="https://www.a10networks.com/products/thunder-series/ssl-decryption-encryption-and-inspection-ssl-insight">SSL Inspection</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h5>Contact Us Links</h5>
                        <ul class="menu">
                            <li><a href="https://www.a10networks.com/company/contact-us">Contact Sales</a></li>
                            <li><a href="https://www.a10networks.com/company/contact-us">Global Offices</a></li>
                        </ul>
                        <h6>HEADQUARTERS:</h6>
                        <p>3 West Plumeria Drive<br />
                        San Jose, CA 95134</p>
                        <p>Toll Free: 1-888-A10-6363<br />
                        INTL: +1-408-325-8616</p>
                    </div>
                    <div class="column">
                        <h5>Connect with Us</h5>
                        <ul class="menu">
                            <li><a href="https://files.a10networks.com/vadc/forums/forum/ax-series/">A10 Community</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                        <ul class="social-nav">
                            <li><a href="http://twitter.com/a10networks" target="_blank"><span class="social-icon fa fa-2x fa-twitter"></span>Twitter </a></li>
                            <li><a href="http://www.facebook.com/pages/San-Jose/A10-Networks/133959183559" target="_blank"><span class="social-icon fa fa-2x fa-facebook"></span>Facebook </a></li>
                            <li><a href="http://www.linkedin.com/company/a10networks" target="_blank"><span class="social-icon fa fa-2x fa-linkedin"></span>Linkedin        </a></li>
                            <li><a href="http://www.a10networks.com/blog" target="_blank"><span class="social-icon fa fa-2x fa-rss"></span>Blog            </a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h5>Information</h5>
                        <ul class="menu">
                        <li><a href="https://www.a10networks.com/company/careers">Careers</a></li>
                        <li><a href="http://investors.a10networks.com/CorporateProfile.aspx?iid=4433033">Investor Relations</a></li>
                        <li><a href="https://www.a10networks.com/resources/a10-customers">A10 Customers</a></li>
                        <li><a href="https://www.a10networks.com/products/certifications">Certifications</a></li>
                        <a href="https://channel.a10networks.com/English/" class="button button-block is-small">Partner Portal Login</a>
                    </ul>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="footer-about">
                <div class="footer-about">
                    <a href="" class="footer-logo"><img src="https://www.a10networks.com/sites/all/themes/a10_2017/images/svg/a10_white.svg"></a>
                    <p>
                        A10 Networks' application networking, load balancing and DDoS protection solutions accelerate and secure data
                        center applications and networks of thousands of the worlds largest enterprises, service providers, and hyper
                        scale web providers.
                    </p>
                </div>
            </div>
            <div class="footer-sub-copyright">
                <div id="block-a10-copyright-a10-copyright" class="block block-a10-copyright">
                    <div class="block-content">
                        <div class="copyright">
                            <span class="copyright-year">&copy; Copyright 2017 </span><span class="copyright-text">A10 Networks, Inc. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <ul class="menu"><a href="https://www.a10networks.com/company/legal-notices">Legal Notices</a></ul>
                <div id="block-block-426" class="block block-block">
                    <h2 class="block-title" >LeadLander Tracking Code</h2>
                    <div class="block-content">
                        <script type="text/javascript" language="javascript">
                        var sf14gv = 10561;
                        (function() {
                        var sf14g = document.createElement('script'); sf14g.type = 'text/javascript'; sf14g.async = true;
                        sf14g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.sf14g.com/sf14g.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sf14g, s);
                        })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>